<h1>About us</h1>

<p class="lead">Bid Solutions is the leading global provider of bid and proposal professionals. From
    Consulting to Recruitment and Direct Source Solutions, we are focused on getting results. If you are looking to
    improve your win rate, we have the people that can make the difference.</p>


<div class="col-sm-12 mb-30">
    <div class="row section-bg-2 panel h-panel pt-15 pb-15 mb-0">
        <a ui-sref="about.team" class="col-sm-4 butted block-link">
            <img alt="260x260" src="http://fillmurray.com/260/260" style="width: 100%" class="thumbnail mb-0">
        </a>

        <div class="col-sm-8 pt-15">
            <h2><a ui-sref="about.team">Meet the team</a></h2>
            <h5 class="type"><a ui-sref="about.team">MARTIN SMITH, MANAGING DIRECTOR</a></h5>

            <p>In viverra sapien condimentum tincidunt ultricies. Nulla facilisi. Sed placerat ultrices massa eu tempus. Morbi et augue
                nisl. Mauris id mattis neque, non bibendum tellus.</p>
        </div>
    </div>
</div>

<div class="row mb-10">

    <div class="col-md-6 text-center">
        <div class="panel h-panel panel-yellow pt-30 p-lr-10 section-bg-2">
            <span class="fa fa-history icon"></span>

            <h2><a ui-sref="about.history">Our history</a></h2>

            <p>Lorem ipsum dolor sit amet.</p>

            <p><a ui-sref="about.history" class="btn btn-primary">Read more</a></p>


        </div>
    </div>

    <div class="col-md-6 text-center">
        <div class="panel h-panel panel-green pt-30 p-lr-10 section-bg-2">
            <span class="fa fa-users icon"></span>

            <h2><a ui-sref="about.careers">Careers</a></h2>

            <p>Lorem ipsum dolor sit amet.</p>

            <p><a ui-sref="about.careers" class="btn btn-primary">Get in touch</a></p>


        </div>
    </div>
</div>

<div class="row mb-10">

    <div class="col-md-6 text-center">
        <div class="panel h-panel panel-pink pt-30 p-lr-10 section-bg-2">
            <span class="fa fa-globe icon"></span>

            <h2><a ui-sref="about.global">Global Coverage</a></h2>

            <p>Lorem ipsum dolor sit amet.</p>

            <p><a ui-sref="about.global" class="btn btn-primary">Read more</a></p>


        </div>
    </div>

    <div class="col-md-6 text-center">
        <div class="panel h-panel panel-orange pt-30 p-lr-10 section-bg-2">
            <span class="fa fa-recycle icon"></span>

            <h2><a ui-sref="about.sustainability">Sustainability Policy</a></h2>

            <p>Lorem ipsum dolor sit amet.</p>

            <p><a ui-sref="about.sustainability" class="btn btn-primary">Read more</a></p>


        </div>
    </div>

</div>