<div ng-controller="BidServicesCtrl">
    <section class="main-content section-bg-1 padded-section pt-45">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h1>Bid Services</h1>

                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget nibh neque. Mauris semper elementum
                        velit id ultricies. Sed vel felis enim. Etiam massa purus, volutpat at imperdiet a, volutpat nec lacus. Sed id
                        dictum arcu. Quisque consequat rhoncus laoreet. Nulla pellentesque facilisis nunc.</p>

                </div>
                <div class="col-md-3 text-center">
                    <div class="panel h-panel panel-pink pt-30 p-lr-10">

                        <h2><a href="#">Post a Job</a></h2>

                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 8 PANELS -->
    <bs-services-all></bs-services-all>
</div>
