<div ng-controller="NewsCtrl">



    <!-- FEATURED NEWS PREVIEW -->

    <section class="main-content section-bg-0 padded-section pt-15 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 pt-30">

                    <a href="/#/news" class="btn btn-trans btn-lg big-butt brand-primary"><span class="glyphicon glyphicon-chevron-left"></span> BACK TO NEWS</a>

                    <div class="reading-size">

                        <h1><a href="/#/news/item">Google for Government Solutions</a></h1>
                        <p class="mt-0 mb-0"><small>Written by <a href="#">Jon Doe</a> on May 14, 2014 in <a href="#">News</a></small></p>

                        <img alt="260x130" src="http://fillmurray.com/815/540" style="width: 100%" class="mt-30 mb-30">

                        <p>Whether your goal is to educate citizens on important issues, reach special audiences, inspire behavior change, or
                            encourage immediate action, your communications efforts must reside online. Learn how Google's technology solutions
                            can deepen your communications strategy across devices and reach Americans where they spend time.</p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel bibendum lorem. Morbi luctus faucibus leo,
                            vitae viverra purus iaculis in. Donec vel aliquet nunc. Nullam vel lorem quam. Nunc non porta nibh, quis luctus
                            augue. Ut hendrerit tempus blandit. Praesent viverra lacinia ligula, non commodo nisl rutrum in. Morbi nunc justo,
                            aliquet vel congue at, tempor vel nisi. Aenean tincidunt dui dui, id porta lorem feugiat quis. Nullam ut porttitor
                            quam. Fusce pulvinar egestas metus. Ut quis neque augue. Fusce tincidunt, elit et facilisis adipiscing, felis ipsum
                            ultrices urna, a varius odio velit molestie leo. Vivamus eget convallis dui. Duis sed scelerisque eros.
                        </p>

                        <p>
                            Maecenas dictum fermentum tortor sed imperdiet. Ut vestibulum eros lectus, euismod iaculis dolor malesuada posuere.
                            In a sollicitudin quam, non fringilla eros. Quisque gravida eros ac mi consectetur cursus. Quisque mollis lobortis
                            lorem eget rhoncus. Integer consectetur felis in sem pellentesque rutrum. Nulla feugiat faucibus tempus. Donec
                            ultricies, leo ac dapibus volutpat, leo lorem tempor erat, ac aliquet elit nisl gravida purus. Aenean euismod velit
                            diam, nec egestas sem bibendum ac. Vivamus scelerisque, sem eget consequat tincidunt, justo est ultrices magna, eu
                            consectetur ante ante ac massa. Vestibulum condimentum blandit dapibus. Praesent semper, magna in sodales ultrices,
                            urna elit bibendum ligula, sed iaculis felis sapien ac arcu. Duis viverra auctor ipsum in tincidunt.
                        </p>

                        <p>
                            Proin at diam elementum, aliquam leo ut, viverra sapien. Donec vitae sapien dictum, convallis nulla aliquam,
                            fringilla tortor. Nam ultricies, nulla ut volutpat dignissim, urna arcu vestibulum lacus, non tempor velit tellus
                            sit amet augue. Sed adipiscing velit id nisl semper varius. Curabitur mollis eget risus in adipiscing. Nullam eu
                            elit nunc. Nunc laoreet tincidunt orci sit amet pellentesque. Phasellus vitae enim nisl. Phasellus vulputate odio
                            eget malesuada suscipit. Sed ac sem quis purus semper pellentesque sit amet sit amet orci. Etiam luctus fringilla
                            lorem, vitae fermentum sapien eleifend non. Nam sit amet venenatis nisi.
                        </p>

                        <p>
                            Duis auctor gravida eleifend. Sed posuere dolor non nisi bibendum placerat. Sed id molestie dui. Donec quis arcu
                            ultricies, eleifend enim ut, dapibus massa. Maecenas pretium suscipit tellus, nec pulvinar nunc feugiat quis.
                            Aliquam erat volutpat. Sed placerat dapibus justo, vitae dapibus libero. Etiam dictum elit ac velit vestibulum, vel
                            egestas lectus dapibus. Etiam lacinia sem et fringilla laoreet. Maecenas malesuada dolor in purus porta suscipit.
                            Nulla scelerisque lobortis ipsum, ut consectetur nulla condimentum ac.
                        </p>

                        <p>
                            Sed hendrerit adipiscing orci, et iaculis eros pharetra at. Nunc et sem quis turpis iaculis dictum. Mauris imperdiet
                            fringilla mauris, condimentum pulvinar arcu congue non. Integer dignissim fermentum ornare. Aliquam erat volutpat.
                            Praesent aliquam eget erat ac sollicitudin. Vivamus sit amet ante ipsum.
                        </p>

                        <hr>

                        <div class="meta">
                            <p>Read more articles in <a href="#">Influence Consideration</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>