<div class="row pt-30 pb-30 form-background">
    <div class="col-sm-10 col-sm-offset-1">
        <form role="form">

            <fieldset>
                <legend>Name</legend>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="input0" class="control-label">Title<span class="required">*</span></label>
                            <select id="input0" class="form-control" required>
                                <option disabled selected>Title</option>
                                <option>Mr</option>
                                <option>Mrs</option>
                                <option>Miss</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="input1" class="control-label">First name<span class="required">*</span></label>
                            <input type="text" class="form-control" id="input1" placeholder="First name" required>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="input2" class="control-label">Last name<span class="required">*</span></label>
                            <input type="text" class="form-control" id="input2" placeholder="Last name" required>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Contact</legend>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="input3" class="control-label">Address 1<span class="required">*</span></label>
                            <input type="text" class="form-control" id="input3" placeholder="Address 1" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="input4" class="control-label">Address 2<span class="required">*</span></label>
                            <input type="text" class="form-control" id="input4" placeholder="Address 2" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="input5" class="control-label">Address 3</label>
                            <input type="text" class="form-control" id="input5" placeholder="Address 3">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="input6" class="control-label">Address 4</label>
                            <input type="text" class="form-control" id="input6" placeholder="Address 4">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="input7" class="control-label">Postcode<span class="required">*</span></label>
                            <input type="text" class="form-control" id="input7" placeholder="Postcode" required>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="input8" class="control-label">Country<span class="required">*</span></label>
                            <select id="input8" class="form-control" required>
                                <option disabled selected>Select Country</option>
                                <option>UK</option>
                                <option>USA</option>
                                <option>Etc</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="input9" class="control-label">Telephone<span class="required">*</span></label>
                            <input type="text" class="form-control" id="input9" placeholder="Telephone" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="input10" class="control-label">Mobile<span class="required">*</span></label>
                            <input type="text" class="form-control" id="input10" placeholder="Mobile" required>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Job</legend>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="input11" class="control-label">Salary</label>
                            <input type="text" class="form-control" id="input11" placeholder="Salary sought">
                            <span class="help-block">eg. £40,000</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="input12" class="control-label">Position<span class="required">*</span></label>
                            <select id="input12" class="form-control" required>
                                <option disabled selected>Type of position</option>
                                <option>Any</option>
                                <option>Permanent</option>
                                <option>Temporary</option>
                                <option>Contract</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="input13" class="control-label">Full/Part time<span class="required">*</span></label>
                            <select id="input13" class="form-control">
                                <option disabled selected>Full or Part time</option>
                                <option>Either</option>
                                <option>Full time</option>
                                <option>Part time</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="input14" class="col-sm-12">Availability</label>
                    </div>
                    <div class="row">

                        <div class="col-sm-4">
                            <select id="input14" class="form-control">
                                <option disabled selected>Day</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>etc</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select id="input15" class="form-control">
                                <option disabled selected>Month</option>
                                <option>Jan</option>
                                <option>Feb</option>
                                <option>etc</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select id="input16" class="form-control">
                                <option disabled selected>Year</option>
                                <option>2014</option>
                                <option>2015</option>
                                <option>etc</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="input17" class="control-label">Additional Information</label>
                            <textarea class="form-control" rows="3" id="input17" placeholder="Please add any additional information here..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="input22" class="control-label">Add you CV</label>
                            <input type="file" class="form-control" id="input22" placeholder="Upload CV">
                            <span class="help-block">Please upload your CV in one of the following formats only: .doc, .docx</span>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Communication</legend>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="input18" class="control-label">Email<span class="required">*</span></label>
                            <input type="email" class="form-control" id="input18" placeholder="Email" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="input19" class="control-label">Password<span class="required">*</span></label>
                            <input type="password" class="form-control" id="input19" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="input20" class="control-label">Confirm password<span class="required">*</span></label>
                            <input type="password" class="form-control" id="input20" placeholder="Confirm password" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="input21" class="control-label">Where did you hear about us?<span class="required">*</span></label>
                            <select id="input21" class="form-control" required>
                                <option disabled selected>Select</option>
                                <option>Job advert</option>
                                <option>Word of mouth</option>
                                <option>etc</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Register</button>
                        &nbsp;&nbsp;&nbsp;<label><input type="checkbox"> I have read and agree to the <a href="#">terms of business</a>.</label>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
