<div class="panel panel-default section-bg-2">
    <div class="panel-heading hover-cursor" ng-click="isRequestCallbackFormOpen = !isRequestCallbackFormOpen">
        <h6><i class="fa fa-phone"></i> <strong>REQUEST A CALLBACK</strong> <i class="fa fa-arrow-down pull-right text-muted" ng-hide="isRequestCallbackFormOpen"></i> <i class="fa fa-arrow-up pull-right text-muted" ng-show="isRequestCallbackFormOpen"></i></h6>
    </div>
    <div class="panel-body" ng-show="isRequestCallbackFormOpen">
        <form role="form">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="input1" class="control-label">Name<span class="required">*</span></label>
                        <input type="text" class="form-control" id="input1" placeholder="Name" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="input4" class="control-label">Phone<span class="required">*</span></label>
                        <input type="text" class="form-control" id="input4" placeholder="Phone" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="input5" class="control-label">Message</label>
                        <textarea class="form-control" id="input5" placeholder="Message"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <button class="btn btn-success pull-right">Request callback</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>