<div class="panel panel-default section-bg-2">
    <div class="panel-heading"><h5><span class="glyphicon glyphicon-phone-alt"></span> <strong>REQUEST A CALLBACK</strong></h5></div>
    <div class="panel-body">
        <form role="form">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="input1" class="control-label">First name<span class="required">*</span></label>
                        <input type="text" class="form-control" id="input1" placeholder="Forename" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="input2" class="control-label">Last name<span class="required">*</span></label>
                        <input type="text" class="form-control" id="input2" placeholder="Surname" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="input3" class="control-label">Email<span class="required">*</span></label>
                        <input type="text" class="form-control" id="input3" placeholder="Email" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="input4" class="control-label">Phone<span class="required">*</span></label>
                        <input type="text" class="form-control" id="input4" placeholder="Phone" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="input5" class="control-label">Message</label>
                        <textarea class="form-control" id="input5" placeholder="Message"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <button class="btn btn-success pull-right">Request callback</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>