@import "../../bower_components/bootstrap-sass-twbs/assets/stylesheets/bootstrap";
@import "grid";

body { padding-top: 90px; }

.navbar-static-top {
  margin: 0;
  min-height: 90px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

.reveal-animation.ng-enter {
  -webkit-animation: enter_sequence 1s linear; /* Safari/Chrome */
  animation: enter_sequence 1s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}

$class-slug: mb;
@for $i from 0 through 20 {
  .#{$class-slug}-#{$i * 5} {
    margin-bottom: #{$i * 5}px !important;
  }
}

$class-slug: mt;
@for $i from 0 through 20 {
  .#{$class-slug}-#{$i * 5} {
    margin-top: #{$i * 5}px !important;
  }
}

$class-slug: pb;
@for $i from 0 through 20 {
  .#{$class-slug}-#{$i * 5} {
    padding-bottom: #{$i * 5}px !important;
  }
}

$class-slug: pt;
@for $i from 0 through 20 {
  .#{$class-slug}-#{$i * 5} {
    padding-top: #{$i * 5}px !important;
  }
}
.p-lr-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.p-lr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.c-bl {
  color: $brand-primary !important;
}

h1, h2, h3, h4, h5 ,h6 {
  color: $gray-darker; a {color: $gray-darker; &:hover {color: $gray-darker;} }
}

a {
  transition: all .15s linear;
  &:hover {
    color: darken($brand-primary, 10%);
  }
}

.padded-section {
  padding: 2em 0;
}

.required {
  color: $brand-danger !important;
}

.underline {
  text-decoration: underline;
}

.nav, .pagination, .carousel, .panel-title a, a { cursor: pointer; }

/* Section colours */
$section-bg-1: #efeddf;
$section-bg-2: #e4e3d5;

.section-bg-0 {
  background-color: $body-bg;
}
.section-bg-1 {
  background-color: $section-bg-1;
}
.section-bg-2 {
  background-color: $section-bg-2;
}

.row-cover {
  overflow: hidden;
  .butted {
    padding-left: 0;
  }
}

.type {
  color: $brand-danger;
  font-weight: bold;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* HORIZONTAL SUB NAV */

.horizontal-sub-nav {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3) inset, 0 0 11px rgba(0, 0, 0, 0.1) inset;
  padding-top: 3px !important;
  .nav{
    font-weight: bold;
    .active {
      background-color: $body-bg;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-bottom: none;
      &:hover {
        background-color: $body-bg;
        color: darken($brand-primary, 15%);
      }
    }
    a {
      border-radius: 5px 5px 0 0;
      border: 1px solid rgba(0, 0, 0, 0);
      border-bottom: none;
      &:hover {
        background-color: rgba($section-bg-1, 0.7);
      }
    }
  }
}

/* FIVE PANELS ON HOME PAGE */
.h-panel {
  h2 {
    font-weight: bold;
    a:hover {
      text-decoration: none;
    }
  }
  .br-tint {transition: all .2s linear}
  .lead {
    font-size: 16px;
    line-height: 26px;
    padding: 20px;
    margin-bottom: 5px;
  }
  .btn {
    border: none;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
  }
  .icon {
    background-color: #333;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
    height: 100px;
    width: 100px;
    line-height: 90px;
    font-size: 45px;
  }
}
$panel-slug: pink, green, yellow, red, purple, blue, orange, grey;
$panel-color: #D6366B, #37a883, #fcaf17, #e0342b, #956daf, #37C8E7, #E53319, #626E8D;
@for $i from 1 through length($panel-slug) {
  .panel-#{nth($panel-slug, $i)} {
    h2 {
      color: nth($panel-color, $i);
      .br-tint {color: rgba(nth($panel-color, $i),0.5) !important;}
      a {
        color: nth($panel-color, $i);
        &:hover {
          color: darken(nth($panel-color, $i), 15%);
          .br-tint {opacity: .5}
        }
      }
    }
    .btn {
      background-color: nth($panel-color, $i);
      &:hover, &:focus {
        background-color: darken(nth($panel-color, $i), 10%);
      }
      .br-tint {color: rgba(255,255,255,0.5) !important;}
    }
    .icon {
      color: nth($panel-color, $i);
      box-shadow: 0 0 0 5px rgba(nth($panel-color, $i), 0.3);
    }
  }
}

@for $i from 1 through length($panel-slug) {
  .goo-box-#{nth($panel-slug, $i)} {
    height: 6px;
    background-color: nth($panel-color, $i);
  }
}

@for $i from 1 through length($panel-slug) {
  .color-#{nth($panel-slug, $i)} {
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
      background-color: nth($panel-color, $i);
    }
    h1, h2, h3, h4, h5, h6 {color: nth($panel-color, $i)}
  }
}


.main-footer {
  background-color: $gray-darker;
  color: $gray-light;
  a {
    color: $gray-light;
  }
  ul {
    li {
      margin: 0.5em 0;
      a {
        &:hover {
          color: lighten($gray-light, 10%);
        }
      }
      &:first-child {
        a {
          text-decoration: underline;
        }
      }
    }
  }
}

/* SERVICE AND JOBS SECTION ON HOME PAGE */
.h-section-wrapper {
  background-image: linear-gradient(to bottom,$brand-primary 0,adjust-hue($brand-primary, 15%) 100%);
}
.h-section-bg {
  min-height: initial !important;
  position: relative;
  .h-section {
    position: relative;
    z-index: 2;
    padding-top: 15px;
    height: 290px;
    border-radius: 10px 10px 0 0;
    box-shadow: 00 0 35px rgba(0, 0, 0, 0.4), 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
}
.services.active .h-section {border-radius: 10px 10px 30px 0;}
.jobs.active .h-section {border-radius: 10px 10px 0 30px;}
.banner-services-links {
  li {
    line-height: 20px;
    padding: 0;
  }
  .btn-info {
    background-color: white;
    color: $gray-dark;
    font-weight: bold;
    border: none;
    padding-top: 8px;
    padding-bottom: 7px;
    &:hover {
      background-color: $gray-lighter;
    }
  }
  .br-tint {
    color: $brand-primary !important;
  }
}
.ht-t {
  min-height: 380px;
  .btn-lg {
    font-weight: bold;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .btn-alt-cta {
    font-style: italic;
    font-size: 17px
  }
}
.ht-nav {
  background-color: transparent;
  .ht-nav-link-wrap {
    display: block;
    height: 70px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: $body-bg;
    transition: opacity .2s ease-in-out;
    font-size: 20px;
    padding-top: 10px;
    opacity: 0.5;
    .glyphicon {
      display: block;
      opacity: .4;
      transition: all .4s cubic-bezier(0,.82,.51,.73);
      transition-delay: .2s;
      transform: rotateX(180deg);
      transform: rotateY(180deg);
      margin: 0;
    }
    &.active {
      background-color: $section-bg-2;
      border-radius: 0 0 5px 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      color: $brand-primary;
      z-index: 9;
      opacity: 1;
      .glyphicon {
        opacity: 0.8;
        margin-top: -10px;
        margin-bottom: 10px;
        transform: rotateX(0deg);
        transform: rotateY(0deg);
      }
      &:hover {
        opacity: 1;
        color: darken($brand-primary, 8%);
      }
    }
    &:hover {
      text-decoration: none;
      opacity: .8;
    }
  }
}

/* TOPIC CARDS */
.img-label {
  position: absolute;
  background: $brand-danger;
  color: $body-bg;
  padding: 5px 10px;
  font-weight: bold;
}

.topics-cards {
  overflow: hidden;
  height: 400px;
  padding: 30px 15px 15px;
  position: relative;
  .desc {
    margin: 0;
    max-height: 250px;
    overflow: hidden;
  }
}
.topics-img {
  background: #FFF;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  padding: 0 15px 15px;
  position: absolute;
  width: 100%;
  &:before {
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0%,#FFF 80%);
    content: '';
    display: block;
    height: 30px;
    margin-bottom: -45px;
    position: relative;
    top: -45px;
    width: 100%;
  }
  .img {
    margin-bottom: 15px;
    display: block;
  }
}
.topics-cards-tags {
  clear: both;
  line-height: 125%;
  list-style: none;
  margin: 0;
  position: relative;
  li {
    display: inline;
    font-size: 11px;
    text-transform: none;
    white-space: normal;
    a {
      white-space: nowrap;
      &:after {
        content: ",";
      }
    }
    &:last-child {
      a:after {
        content: "";
      }
    }
  }
}

/* INVISIBLE INPUTS STYLES SO THEY LOOK LIKE TITLES */
.sp-inp {
  border: none;
  background: transparent;
  font-size: 36px;
  color: #3F4944;
  width: 100%;
  padding: 15px 0;
  transition: all 0.2s linear;
  &:hover {
    text-indent: 15px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 5px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2) inset;
  }
  &:focus {
    outline: none;
  }
}

/* TRANSPARENT BUTTON */
.btn-trans {
  background-color: transparent;
  color: $brand-primary;
  border-color: $brand-primary;
  &:hover {
    border-color: $gray-darker;
    color: $gray-darker;
  }
}

/* BIG BUTTON */
.big-butt {
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 26px;
  .glyphicon {
    font-size: 14px;
  }
}

/* LOG OUT */
@keyframes rotating {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.logging-out-icon {
  transform-origin: 50% !important;
  animation: rotating 2s linear infinite;
  display: inline-block !important;
  &.ng-hide {
    display: none !important;
  }
}

/* READING SIZE */
.reading-size {
  font-size: 150%;
  line-height: 180%;
  h1, h2, h3, h4, h5, h6 {
    font-size: 200%;
    line-height: 180%;
  }
  p {
    margin: 0 0 2em;
    font-family: $font-family-serif;
  }
  &.sans {
    p {
      font-family: $font-family-sans-serif;
    }
  }
}

/* BLOCK LINK */
.block-link {
  display: block;
  position: relative;
}

/* NEWS AND ARTICLES TAGS */
.m-tags {
  .header {
    display: inline-block;
  }
  .label {
    transition: opacity .2s linear;
    transition-delay: .4s;
    display: inline-block;
    font-weight: normal;
    margin: 0;
    padding: 0;
    a {
      background-color: rgba($body-bg, .4);
      padding: 10px;
      margin: 5px 3px;
      color: $gray-light;
      display: block;
      border-radius: 5px;
    }
    &:hover {
      a {
        text-decoration: none;
        background-color: rgba($brand-primary, .1);
        color: $brand-primary;
      }
    }
  }
}

/* PAGE TRANSITIONS */
.fade-content {
  opacity: 1;
}
.fade-content.ng-enter,
.fade-content.ng-leave {
}
.fade-content.ng-enter {
  transition: opacity 1s ease;
  opacity: 0;
}
.fade-content.ng-enter-active {
  transition: opacity 0s ease;
  opacity: 1;
}
.fade-content.ng-leave {
  opacity: 1;
}
.fade-content.ng-leave-active {
  opacity: 0;
}

@media (min-width: $screen-xs-min) {
  /* rules for mobile horizontal (480 > 768)  */
}
@media (min-width: $screen-sm-min) {
  /* rules for tablet (768 > 992) */
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
    margin-top: 18px;
  }
}
@media (min-width: $screen-md-min) {
  /* rules for desktop (992 > 1200) */

  .h-job-form {
    border-left: 1px solid #CCC; padding-left: 15px
  }

  .navbar-static-top {
    .navbar-brand {
      float: left;
      padding: 0;
      margin-top: 12px;
    }
  }
  .main-navigation {
    margin-top: 17px;
    li {
      font-size: 0.9em;
      font-weight: bold;
      letter-spacing: 1px;
      &.open, &:hover {
        > a.dropdown-toggle {
          background-color: $gray-lighter;
          color: $gray-dark;
          border-radius: 5px 5px 0 0;
          transition: none;
        }
      }
      &.dropdown {
        &:hover, &.open, &:focus {
          background-color: $body-bg;
          color: $gray-dark;
          border-radius: 5px 5px 0 0;
          > ul.dropdown-menu {
            margin-top: -22px;
            display: block;
          }
        }
      }
      > a {
        transition: none;
        padding-top: 15px;
        padding-bottom: 15px;
        &.btn {
          border: none;
          margin-left: 1em;
          font-size: 0.9em;
          font-weight: bold;
          letter-spacing: 1px;
          padding-top: 8px;
          padding-bottom: 8px;
          margin-top: 8px;
          &:hover, &:focus {
            outline: none;
            background-color: darken($brand-primary, 5%);
          }
          &.btn-info {
            background-color: $gray-light;
            color: $gray-dark;
            &:hover, &:focus {
              outline: none;
              background-color: darken($gray-light, 5%);
            }
          }
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  .dropdown-menu {
    background-color: $gray-lighter;
    border: none;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    li {
      font-size: 1em;
      font-weight: initial;
      &.divider {
        background-color: darken($gray-lighter, 10%);
      }
    }
  }
  .menu-list {
    li {
      a {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: normal;
        text-transform: initial;
        padding-left: 8px;
        margin-left: -8px;
        &:hover {
          color: $gray-darker;
          background-color: $gray-lighter;
          text-decoration: none;
        }
      }
    }
  }
  .br-tint {
    color: $gray !important;
  }
  .yamm-content {
    blockquote {
      p {
        text-transform: initial;
      }
    }
  }
  .form-background {
    background: #FFF;
    margin: 0;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
  }
  legend {
    color: $brand-primary;
    border-bottom: 1px solid rgba($brand-primary, 0.3);
  }
  .testimonial {
    .quote {
      font-family: "museo-slab";
      font-style: italic;
      position: relative;
      line-height: 1.7;
      opacity: .7;
      transition: all 0.2s linear;
      text-align: left;
      &:hover {
        opacity: 1;
        &:before {
          opacity: 1;
        }
      }
      &:before {
        content: "\201C";
        display: block;
        font-size: 180px;
        opacity: .5;
        position: absolute;
        top: -100px;
        color: #288B9A;
        font-family: sans-serif;
        text-align: left;
        height: 150px;
        left: -100px;
        overflow: hidden;
        width: 150px;
      }
    }
  }
}
@media (min-width: $screen-lg-min) {
  /* rules for large (> 1200) */
}