<section class="main-content section-bg-2 padded-section pt-0 pb-0 horizontal-sub-nav">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav role="navigation">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/#/search-jobs" ng-click="selectedSubTab = 'search-jobs'" ng-class="{'active':selectedSubTab === 'search-jobs'}">Search jobs</a>
                        </li>
                        <li>
                            <a href="/#/my/saved-jobs" ng-click="selectedSubTab = 'saved-jobs'" ng-class="{'active':selectedSubTab === 'saved-jobs'}">Saved jobs</a>
                        </li>
                        <li>
                            <a href="/#/my/saved-searches" ng-click="selectedSubTab = 'saved-searches'" ng-class="{'active':selectedSubTab === 'saved-searches'}">Saved searches</a>
                        </li>
                        <li>
                            <a href="/#/my/timesheets" ng-click="selectedSubTab = 'timesheets'" ng-class="{'active':selectedSubTab === 'timesheets'}">Timesheets</a>
                        </li>
                        <li>
                            <a href="/#/my/job-applications" ng-click="selectedSubTab = 'job-applications'" ng-class="{'active':selectedSubTab === 'job-applications'}">Job applications</a>
                        </li>
                    </ul>
                </nav>
                <nav class="pull-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/#/my/cv" ui-sref="my-cv" ng-click="selectedSubTab = 'my-cv'" ng-class="{'active':selectedSubTab === 'my-cv'}">My CV</a>
                        </li>
                        <li>
                            <a href="/#/my/details" ui-sref="my-details" ng-click="selectedSubTab = 'my-details'" ng-class="{'active':selectedSubTab === 'my-details'}">My details</a>
                        </li>
                        <li>
                            <a href="/#/my/skills" ui-sref="my-skills" ng-click="selectedSubTab = 'my-skills'" ng-class="{'active':selectedSubTab === 'my-skills'}">My skills</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>