<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form role="form">
            <h2>My CV</h2>

            <p>Your existing CV is called <code>cv-062014.docx</code>, you uploaded it on 12th May 2014.</p>

            <div class="form-group mt-30">
                <h4>Time for an refresh? Upload a new one.</h4>
                <input type="file" class="form-control" id="input22" placeholder="Upload CV">
                <span class="help-block">Please upload your CV in one of the following formats only: .doc, .docx</span>
            </div>
        </form>
    </div>
</div>

