<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Saved searches</h2>
        <p>Here are the searches you have saved, if you click one it will perform the search.</p>
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Alert!</strong> 3 new jobs have been added since your last login.
        </div>
        <table class="table table-striped">
            <tr>
                <th style="vertical-align: middle">Name <a class="glyphicon glyphicon-sort" style="font-size: 10px"></a></th>
                <th style="vertical-align: middle">Saved on <a class="glyphicon glyphicon-sort" style="font-size: 10px"></a></th>
                <th class="text-center" style="vertical-align: middle">Email alerts <a class="glyphicon glyphicon-sort" style="font-size: 10px"></a></th>
                <th class="text-right" style="vertical-align: middle"><button class="btn btn-default btn-sm">All</button></th>
            </tr>
            <tr>
                <td><a>Search for new job</a></td>
                <td>13:05, 14 June 2014</td>
                <td class="text-center"><input type="checkbox" checked></td>
                <td class="text-right"><input type="checkbox"></td>
            </tr>
            <tr>
                <td><a>Bid consultantancy search</a></td>
                <td>11:25, 14 June 2014</td>
                <td class="text-center"><input type="checkbox" checked></td>
                <td class="text-right"><input type="checkbox"></td>
            </tr>
            <tr>
                <td><a>Another named search</a></td>
                <td>15:05, 16 May 2014</td>
                <td class="text-center"><input type="checkbox"></td>
                <td class="text-right"><input type="checkbox"></td>
            </tr>
            <tr>
                <td><a>Another named search</a></td>
                <td>13:05, 26 March 2014</td>
                <td class="text-center"><input type="checkbox" checked></td>
                <td class="text-right"><input type="checkbox"></td>
            </tr>
            <tr>
                <td><a>Another named search</a></td>
                <td>10:05, 14 February 2014</td>
                <td class="text-center"><input type="checkbox"></td>
                <td class="text-right"><input type="checkbox"></td>
            </tr>
            <tr>
                <td><a>Another named search</a></td>
                <td>09:05, 14 February 2014</td>
                <td class="text-center"><input type="checkbox" checked></td>
                <td class="text-right"><input type="checkbox"></td>
            </tr>
            <tr>
                <td class="text-right" colspan="4"><button class="btn btn-danger">Delete</button></td>
            </tr>
        </table>
    </div>
</div>
