<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Timesheets</h2>
        <p>Here are your timesheets, looks like you've got some outstanding.</p>
        <table class="table table-striped">
            <tr>
                <th style="vertical-align: middle">Name <a class="glyphicon glyphicon-sort" style="font-size: 10px"></a></th>
                <th style="vertical-align: middle">Location <a class="glyphicon glyphicon-sort" style="font-size: 10px"></a></th>
                <th style="vertical-align: middle">Salary <a class="glyphicon glyphicon-sort" style="font-size: 10px"></a></th>
                <th class="text-right" style="vertical-align: middle"><button class="btn btn-default btn-sm">All</button></th>
            </tr>
            <tr>
                <td>Bid manager</td>
                <td>East London</td>
                <td>£36,000 p.a.</td>
                <td class="text-right"><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Group Bid Director</td>
                <td>Chelmsford</td>
                <td>£80,000 p.a. + up to £100k</td>
                <td class="text-right"><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Bid manager</td>
                <td>Hampshire</td>
                <td>£36,000 p.a.</td>
                <td class="text-right"><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Bid Director</td>
                <td>West London</td>
                <td>£136,000 p.a.</td>
                <td class="text-right"><input type="checkbox"></td>
            </tr>
            <tr>
                <td colspan="4"><button class="btn btn-danger pull-left">Delete</button> <button class="btn btn-success pull-right">Apply</button></td>
            </tr>
        </table>
    </div>
</div>
