<ol class="breadcrumb">
    <li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="bid-services">Bid Services</a></li>
    <li><a  ui-sref="bid-services.bidtraining.index"><span class="br-tint">Bid</span>Training</a></li>
    <li><a  ui-sref="bid-services.bidtraining.videos">Videos</a></li>
    <li class="active">Video detail</li>
</ol>

<h1 class="mt-0 mb-20">Video title</h1>

<div class="large-media">
    <div class="video">
        <img class="media-object" src="http://fillmurray.com/750/400" style="width: 100%">
        <div class="video-controls">
            <i class="fa fa-play play-icon pull-left"></i>
            <i class="fa fa-volume-up pull-left"></i>
            <p class=" pull-left">0.00 / 54.43</p>
            <i class="fa fa-expand pull-right"></i>
        </div>
    </div>
</div>

<p class="mt-30">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lorem tellus, mattis a libero ac, dapibus
    luctus augue. Praesent sit amet mi eu sapien auctor cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lorem tellus, mattis a libero ac, dapibus
    luctus augue. Praesent sit amet mi eu sapien auctor cursus.
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lorem tellus, mattis a libero ac, dapibus
    luctus augue. Praesent sit amet mi eu sapien auctor cursus.
</p>

<hr>

<h3 class="mb-25">Other videos you might be interested in</h3>

<video-listing></video-listing>
<video-listing></video-listing>
<video-listing></video-listing>
<video-listing></video-listing>