<div class="media">
    <a class="pull-left video" ui-sref="bid-services.bidtraining.video-detail">
        <i class="fa fa-youtube-play play-icon"></i>
        <img class="media-object" src="http://fillmurray.com/250/150">
    </a>
    <div class="media-body">
        <h4 class="media-heading"><a ui-sref="bid-services.bidtraining.video-detail">Media heading</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lorem tellus, mattis a libero ac, dapibus
            luctus augue. Praesent sit amet mi eu sapien auctor cursus.</p>
        <p class="small text-muted"><span class="label label-default">54:32</span> <span class="pull-right">Added 1 year ago</span></p>
    </div>
</div>
<hr>