<ol class="breadcrumb">
    <li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="bid-services">Bid Services</a></li>
    <li class="active"><span class="br-tint">Bid</span>Recruit</li>
</ol>
<img alt="800x130" src="http://fillmurray.com/800/200" style="width: 100%" class="mb-30">

<h1 class="mt-0 mb-20"><span class="br-tint">Bid</span>Recruit</h1>

<p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lorem tellus, mattis a libero ac, dapibus
    luctus augue. Praesent sit amet mi eu sapien auctor cursus.
</p>

<plain-dummy-text></plain-dummy-text>