<!--<li><a ui-sref="bidrecruit-home"><span class="br-tint">Bid</span>Recruit</a></li>-->
<li><a ui-sref="bid-services.bidrecruit.index"><span class="br-tint">Bid</span>Recruit</a></li>
<li><a ui-sref="bid-services.bidconsult"><span class="br-tint">Bid</span>Consult</a></li>
<li><a ui-sref="bid-services.bidtraining.index"><span class="br-tint">Bid</span>Training</a></li>
<li><a ui-sref="bid-services.bidsoftware"><span class="br-tint">Bid</span>Software</a></li>
<li><a ui-sref="bid-services.biddesign"><span class="br-tint">Bid</span>Design</a></li>
<li class="divider"></li>
<li><a ui-sref="bid-services.bidprinting"><span class="br-tint">Bid</span>Printing</a></li>
<li><a ui-sref="bid-services.bidindustries"><span class="br-tint">Bid</span>Industries</a></li>
<li><a ui-sref="bid-services.bidglobal"><span class="br-tint">Bid</span>Global</a></li>
<li class="divider"></li>
<li><a ui-sref="bid-services-home">View all services</a></li>