<li><a ui-sref="bidrecruit"><span class="br-tint">Bid</span>Recruit</a></li>
<li><a ui-sref="bidconsult"><span class="br-tint">Bid</span>Consult</a></li>
<li><a ui-sref="bidtraining"><span class="br-tint">Bid</span>Training</a></li>
<li><a ui-sref="bidsoftware"><span class="br-tint">Bid</span>Software</a></li>
<li><a ui-sref="biddesign"><span class="br-tint">Bid</span>Design</a></li>
<li class="divider"></li>
<li><a ui-sref="bid-services"><span class="br-tint">Bid</span>Printing</a></li>
<li><a ui-sref="bid-services"><span class="br-tint">Bid</span>Industries</a></li>
<li><a ui-sref="bid-services"><span class="br-tint">Bid</span>Global</a></li>
<li class="divider"></li>
<li><a ui-sref="bid-services">View all services</a></li>