<li><a href="/#/bid-services/bidrecruit" ui-sref="bidrecruit"><span class="br-tint">Bid</span>Recruit</a></li>
<li><a href="/#/bid-services/bidconsult" ui-sref="bidconsult"><span class="br-tint">Bid</span>Consult</a></li>
<li><a href="/#/bid-services/bidtraining" ui-sref="bidtraining"><span class="br-tint">Bid</span>Training</a></li>
<li><a href="/#/bid-services/bidsoftware"ui-sref="bidsoftware"><span class="br-tint">Bid</span>Software</a></li>
<li><a href="/#/bid-services/biddesign" ur-sref="biddesign"><span class="br-tint">Bid</span>Design</a></li>
<li class="divider"></li>
<li><a href="/#/bid-services/bidprinting" ui-sref="bidprinting"><span class="br-tint">Bid</span>Printing</a></li>
<li><a href="/#/bid-services/bidindustries" ui-sref="bidindustries"><span class="br-tint">Bid</span>Industries</a></li>
<li><a href="/#/bid-services/bidglobal" ui-sref="bidglobal"><span class="br-tint">Bid</span>Global</a></li>
<li class="divider"></li>
<li><a href="/#/bid-services">View all services</a></li>