<footer class="main-footer padded-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><a href="/#/bid-services">Bid Services</a></li>
                    <li><a href="/#/bidrecruit"><span class="br-tint">Bid</span>Recruit</a></li>
                    <li><a href="/#/bidconsult"><span class="br-tint">Bid</span>Consult</a></li>
                    <li><a href="/#/bidtraining"><span class="br-tint">Bid</span>Training</a></li>
                    <li><a href="/#/bidsoftware"><span class="br-tint">Bid</span>Software</a></li>
                    <li><a href="/#/biddesign"><span class="br-tint">Bid</span>Design</a></li>
                    <li><a href="/#/all-services">View all services</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><a href="/#/about">About</a></li>
                    <li><a href="/#/testimonials">Testimonials</a></li>
                    <li><a href="/#/bid-resources">Bid resources</a></li>
                    <li><a href="/#/news">News</a></li>
                    <li><a href="/#/articles">Articles</a></li>
                    <li><a href="/#/support">Support</a></li>
                    <li><a href="/#/enquiry">Send an enquiry</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <p class="lead">A foundation for your success. Knowing who you are, what skills you have to offer and why you seek a new challenge enables our consultants to find you the best opportunity <a href="#" class="underline">Learn More</a>.</p>
            </div>
        </div>
    </div>
</footer>