<header class="navbar navbar-static-top" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/#/home" class="navbar-brand"><img src="/img/branding.png" style="width: 190px"></a>
        </div>
        <nav class="yamm collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav pull-right main-navigation">
                <li class="dropdown">
                    <a href="/#/bid-services" class="dropdown-toggle" data-toggle="dropdown">BID SERVICES <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="list-unstyled menu-list" role="menu">
                                            <li><a href="/#/bid-services/bid-recruit"><span class="br-tint">Bid</span>Recruit</a></li>
                                            <li><a href="/#/bidconsult"><span class="br-tint">Bid</span>Consult</a></li>
                                            <li><a href="/#/bidtraining"><span class="br-tint">Bid</span>Training</a></li>
                                            <li><a href="/#/bidsoftware"><span class="br-tint">Bid</span>Software</a></li>
                                            <li><a href="/#/biddesign"><span class="br-tint">Bid</span>Design</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/#/bidprinting"><span class="br-tint">Bid</span>Printing</a></li>
                                            <li><a href="/#/bidindustries"><span class="br-tint">Bid</span>Industries</a></li>
                                            <li><a href="/#/bidglobal"><span class="br-tint">Bid</span>Global</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/#/bid-services">View all services</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thumbnail"><img alt="260x130" src="http://dummyimage.com/450x250/bfbeb2/fff" style="width: 100%">

                                            <div class="caption">
                                                <h3>Thumb Label</h3>

                                                <p>Mazagran doppio half and half aftertaste organic, rich doppio</p>

                                                <p><a href="#" class="btn btn-primary">Action</a> <a href="#"
                                                                                                     class="btn btn-default">Action</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/#/testimonials" class="dropdown-toggle" data-toggle="dropdown">TESTIMONIALS <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-unstyled menu-list" role="menu">
                                            <li><a href="/#/testimonials">Client testimonials</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/#/testimonials">Candidate testimonials</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/#/testimonials">Partner testimonials</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/#/testimonials">View all testimonials</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-8">
                                        <blockquote>
                                            <p>Started a new job this week thanks to Ben at Bid Solutions. It had only been a few weeks
                                                since I started looking for a new role. And in that time my CV had been sourced online and
                                                within 5 days I had been informed of a suitable role, an interview had been promptly
                                                arranged and the following day I was made an offer... <a href="#"><strong>read more</strong></a></p>
                                            <footer><cite>Christina Tharakan</cite></footer>
                                        </blockquote>
                                        <a href="/#/testimonials" class="btn btn-primary pull-right">View all testimonials <span class="glyphicon glyphicon-chevron-right"></span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/#/news">NEWS</a>
                </li>
                <li>
                    <a href="/#/resources">RESOURCES</a>
                </li>
                <li>
                    <a ng-hide="loggedin" href="/#/create-account" class="btn btn-primary">CREATE ACCOUNT</a>
                    <a ng-show="loggedin" href="/#/my-account">MY ACCOUNT</a>
                </li>
                <li>
                    <a ng-hide="loggedin" class="btn btn-info" data-toggle="modal" data-target="#signInModal">SIGN IN</a>
                    <a ng-show="loggedin" ng-click="logout()">SIGN OUT <span ng-show="loggingout" class="logging-out-icon glyphicon glyphicon-repeat"></span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- SIGN IN -->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Sign in</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="select1" class="col-sm-2 control-label">Account</label>
                        <div class="col-sm-10">
                            <select ng-model="signin.type" id="select1" class="form-control" required>
                                <option selected disabled value="init">Select type</option>
                                <option>Candidate</option>
                                <option>Client</option>
                                <option>Partner</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input ng-model="signin.email" type="email" class="form-control" id="inputEmail3" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input ng-model="signin.password" type="password" class="form-control" id="inputPassword3" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input ng-model="signin.rememberme" type="checkbox"> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button ng-click="submit(signin); loggedin = true" type="submit" class="btn btn-default">Sign in</button> &nbsp;&nbsp;&nbsp;Don't have an account? <a href="/#/create-account" data-toggle="modal" ng-click="cancel()" data-target="#createAccountModal">Create one now</a>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

