<header class="navbar navbar-static-top" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/#/home" class="navbar-brand"><img src="/img/branding.png" style="width: 190px"></a>
        </div>
        <nav class="yamm collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav pull-right main-navigation">
                <li class="dropdown">
                    <a href="/#/bid-services" ui-sref="bid-services" class="dropdown-toggle" data-toggle="dropdown">BID SERVICES <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="list-unstyled menu-list" role="menu" bid-services-menu>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thumbnail mb-0"><img alt="260x130" src="http://fillmurray.com/450/260" style="width: 100%">

                                            <div class="caption">
                                                <h3>Thumb Label</h3>

                                                <p>Mazagran doppio half and half aftertaste organic, rich doppio</p>

                                                <p><a ui-sref="bidrecruit" class="btn btn-primary">Action</a>
                                                    <a ui-sref="bidrecruit" class="btn btn-default">Action</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/#/testimonials" ui-sref="testimonials" class="dropdown-toggle" data-toggle="dropdown">TESTIMONIALS <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-unstyled menu-list" role="menu">
                                            <li><a href="/#/testimonials">Client testimonials</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/#/testimonials">Candidate testimonials</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/#/testimonials">Partner testimonials</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/#/testimonials">View all testimonials</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-8">
                                        <blockquote>
                                            <div><img alt="260x130" src="http://fillmurray.com/50/50" style="float: right; margin: 0 0 20px 20px; border-radius: 25px"></div>
                                            <p>Started a new job this week thanks to Ben at Bid Solutions. It had only been a few weeks
                                                since I started looking for a new role. And in that time my CV had been sourced online and
                                                within 5 days I had been informed of a suitable role, an interview had been promptly
                                                arranged and the following day I was made an offer... <a href="#"><strong>read more</strong></a></p>
                                            <footer><cite>Christina Tharakan</cite></footer>
                                        </blockquote>
                                        <a href="/#/testimonials" class="btn btn-primary pull-right">View all testimonials <span class="glyphicon glyphicon-chevron-right"></span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/#/news">NEWS</a>
                </li>
                <li>
                    <a href="/#/resources">RESOURCES</a>
                </li>
                <li>
                    <a ng-hide="loggedin" class="btn btn-primary" ui-sref="create-account">CREATE ACCOUNT</a>
                    <a ng-show="loggedin" ui-sref="account">MY ACCOUNT</a>
                </li>
                <li>
                    <a ng-hide="loggedin" class="btn btn-info" data-toggle="modal" data-target="#signInModal">SIGN IN</a>
                    <a ng-show="loggedin" ng-click="logout()">SIGN OUT <span ng-show="loggingout" class="logging-out-icon glyphicon glyphicon-repeat"></span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>

