<header class="navbar navbar-static-top" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/#/home" class="navbar-brand"><img src="/img/branding.png" style="width: 190px"></a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a href="/#/bid-services" class="dropdown-toggle" data-toggle="dropdown">Bid services <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/#/bid-services/bid-recruit"><span class="br-tint">Bid</span>Recruit</a></li>
                        <li><a href="/#/bidconsult"><span class="br-tint">Bid</span>Consult</a></li>
                        <li><a href="/#/bidtraining"><span class="br-tint">Bid</span>Training</a></li>
                        <li><a href="/#/bidsoftware"><span class="br-tint">Bid</span>Software</a></li>
                        <li><a href="/#/biddesign"><span class="br-tint">Bid</span>Design</a></li>
                        <li class="divider"></li>
                        <li><a href="/#/bidprinting"><span class="br-tint">Bid</span>Printing</a></li>
                        <li><a href="/#/bidindustries"><span class="br-tint">Bid</span>Industries</a></li>
                        <li><a href="/#/bidglobal"><span class="br-tint">Bid</span>Global</a></li>
                        <li class="divider"></li>
                        <li><a href="/#/all-services">View all services</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/#/testimonials">Testimonials</a>
                </li>
                <li>
                    <a href="/#/news">News</a>
                </li>
                <li>
                    <a href="/#/resources">Resources</a>
                </li>
                <li>
                    <a href="/#/create-account" class="btn btn-primary">Create account</a>
                </li>
                <li>
                    <a href="/#/sign-in" class="btn btn-info">Sign in</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
