<section class="section-bg-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <goo-box></goo-box>
            </div>
        </div>
    </div>
</section>

<section class="main-content section-bg-0 padded-section pt-0 pb-30">
    <div class="container">
        <dummy-content-info-page title="Design" tint="Bid" color="purple"></dummy-content-info-page>
    </div>
</section>

<section class="section-bg-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <goo-box></goo-box>
            </div>
        </div>
    </div>
</section>