<div class="row color-red">
    <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a><span class="br-tint">Bid</span>Industries</a></li>
            <li><a>Industries we operate across</a></li>
            <li><a>Industry specific solutions</a></li>
            <li><a>Industry case studies</a></li>
        </ul>
        <hr>
        <request-callback></request-callback>

        <bid-services-vertical-list></bid-services-vertical-list>
    </div>
    <div class="col-sm-8 col-sm-offset-1">
        <ol class="breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="bid-services">Bid Services</a></li>
            <li class="active"><span class="br-tint">Bid</span>Industries</li>
        </ol>
        <img alt="800x130" src="http://fillmurray.com/800/200" style="width: 100%" class="mb-30">


        <h1 class="mt-0 mb-20"><span class="br-tint">Bid</span>Industries</h1>

        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lorem tellus, mattis a libero ac, dapibus
            luctus augue. Praesent sit amet mi eu sapien auctor cursus.
        </p>

        <plain-dummy-text></plain-dummy-text>

    </div>
</div>