<div class="row color-blue">
    <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a><span class="br-tint">Bid</span>Printing</a></li>
            <li><a>Print and production solutions</a></li>
        </ul>
        <hr>
        <request-callback></request-callback>
        <hr>
        <bid-services-vertical-list></bid-services-vertical-list>
    </div>
    <div class="col-sm-8 col-sm-offset-1">
        <ol class="breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="bid-services">Bid Services</a></li>
            <li class="active"><span class="br-tint">Bid</span>Printing</li>
        </ol>
        <img alt="800x130" src="http://fillmurray.com/800/200" style="width: 100%" class="mb-30">


        <h1 class="mt-0 mb-20"><span class="br-tint">Bid</span>Printing</h1>

        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lorem tellus, mattis a libero ac, dapibus
            luctus augue. Praesent sit amet mi eu sapien auctor cursus.
        </p>

        <p>
            Fusce condimentum neque in mattis laoreet. Etiam sit amet mollis elit. Praesent in urna ut metus rhoncus eleifend
            eget in sapien. Ut pulvinar odio sit amet ante sollicitudin sollicitudin. Praesent fermentum nisl augue, ut
            bibendum arcu fringilla eu. Nunc lobortis augue vel elit tempor lacinia. Integer dapibus, orci placerat fringilla
            tincidunt, ligula tellus facilisis quam, sed eleifend mi dolor interdum nulla. Vestibulum purus nisi, feugiat nec
            euismod ac, mattis sed mauris. Nulla mattis ullamcorper facilisis. Vivamus ac bibendum felis.
        </p>

        <p>
            In viverra sapien condimentum tincidunt ultricies. Nulla facilisi. Sed placerat ultrices massa eu tempus. Morbi et
            augue nisl. Mauris id mattis neque, non bibendum tellus. Mauris dictum diam lectus, at aliquam magna ullamcorper
            congue. Nulla eu molestie nulla. Fusce a augue sollicitudin, dictum urna a, interdum nisl. Donec volutpat ante eu
            fermentum tempus. Aenean vitae mauris diam.
        </p>

        <hr>

        <div class="row">
            <div class="col-sm-12">
                <h2>Example print</h2>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img alt="300/300" src="http://fillmurray.com/300/300" style="width: 100%" class="mb-15">
                    <div class="caption">
                        <h5>Opens popup larger image</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img alt="300/300" src="http://fillmurray.com/300/301" style="width: 100%" class="mb-15">
                    <div class="caption">
                        <h5>Opens popup larger image</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img alt="300/300" src="http://fillmurray.com/300/302" style="width: 100%" class="mb-15">
                    <div class="caption">
                        <h5>Opens popup larger image</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img alt="300/300" src="http://fillmurray.com/300/303" style="width: 100%" class="mb-15">
                    <div class="caption">
                        <h5>Opens popup larger image</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>