<div class="row color-yellow">
    <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a ui-sref="bid-services.bidtraining.index"><span class="br-tint">Bid</span>Training</a></li>
            <li><a ui-sref="bid-services.bidtraining.apmp">APMP</a></li>
            <li><a ui-sref="bid-services.bidtraining.prp-writing">Proposal writing</a></li>
            <li><a ui-sref="bid-services.bidtraining.prp-master-class">Proposal master class</a></li>
            <li><a ui-sref="bid-services.bidtraining.bidding">Bidding to public sector</a></li>
            <li><a ui-sref="bid-services.bidtraining.tailored-courses">Tailored courses</a></li>
            <li><a ui-sref="bid-services.bidtraining.training-packages">Training packages</a></li>
            <li><a ui-sref="bid-services.bidtraining.videos">Videos</a></li>
        </ul>
        <hr>
        <request-callback></request-callback>
        <hr>
        <bid-services-vertical-list></bid-services-vertical-list>
    </div>
    <div class="col-sm-8 col-sm-offset-1">

        <div ui-view="bidServiceDetailView" autoscroll="false"></div>

    </div>
</div>