<section class="main-content section-bg-2 padded-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 text-center">
                <div class="panel h-panel panel-pink pt-30 p-lr-10">
                    <span class="glyphicon glyphicon-search icon"></span>

                    <h2><a ui-sref="bid-services.bidrecruit.index"><span class="br-tint">bid</span>recruit</a></h2>

                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>

                    <p><a ui-sref="bid-services.bidrecruit.index" class="btn btn-primary">View <span class="br-tint">bid</span>recruit</a></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 text-center">
                <div class="panel h-panel panel-green pt-30 p-lr-10">
                    <span class="glyphicon glyphicon-comment icon"></span>

                    <h2><a ui-sref="bid-services.bidconsult"><span class="br-tint">bid</span>consult</a></h2>

                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>

                    <p><a ui-sref="bid-services.bidconsult" class="btn btn-primary">View <span class="br-tint">bid</span>consult</a></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 text-center">
                <div class="panel h-panel panel-yellow pt-30 p-lr-10">
                    <span class="glyphicon glyphicon-thumbs-up icon"></span>

                    <h2><a ui-sref="bid-services.bidtraining.index"><span class="br-tint">bid</span>training</a></h2>

                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>

                    <p><a ui-sref="bid-services.bidtraining.index" class="btn btn-primary">View <span class="br-tint">bid</span>training</a></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 text-center">
                <div class="panel h-panel panel-red pt-30 p-lr-10">
                    <span class="glyphicon glyphicon-leaf icon"></span>

                    <h2><a ui-sref="bid-services.bidsoftware"><span class="br-tint">bid</span>software</a></h2>

                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>

                    <p><a ui-sref="bid-services.bidsoftware" class="btn btn-primary">View <span class="br-tint">bid</span>software</a></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 text-center">
                <div class="panel h-panel panel-purple pt-30 p-lr-10">
                    <span class="glyphicon glyphicon-picture icon"></span>

                    <h2><a ui-sref="bid-services.biddesign"><span class="br-tint">bid</span>design</a></h2>

                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>

                    <p><a ui-sref="bid-services.biddesign" class="btn btn-primary">View <span class="br-tint">bid</span>design</a></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 text-center">
                <div class="panel h-panel panel-blue pt-30 p-lr-10">
                    <span class="glyphicon glyphicon-print icon"></span>

                    <h2><a ui-sref="bid-services.bidprinting"><span class="br-tint">bid</span>printing</a></h2>

                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>

                    <p><a ui-sref="bid-services.bidprinting" class="btn btn-primary">View <span class="br-tint">bid</span>printing</a></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 text-center">
                <div class="panel h-panel panel-orange pt-30 p-lr-10">
                    <span class="glyphicon glyphicon-stats icon"></span>

                    <h2><a ui-sref="bid-services.bidindustries"><span class="br-tint">bid</span>industries</a></h2>

                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>

                    <p><a ui-sref="bid-services.bidindustries" class="btn btn-primary">View <span class="br-tint">bid</span>industries</a></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 text-center">
                <div class="panel h-panel panel-grey pt-30 p-lr-10">
                    <span class="glyphicon glyphicon-globe icon"></span>

                    <h2><a ui-sref="bid-services.bidglobal"><span class="br-tint">bid</span>global</a></h2>

                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>

                    <p><a ui-sref="bid-services.bidglobal" class="btn btn-primary">View <span class="br-tint">bid</span>global</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
