<section class="section-bg-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <goo-box></goo-box>
            </div>
        </div>
    </div>
</section>

<section class="main-content section-bg-0 padded-section mb-70">
    <div class="container">
        <div ui-view="bidServiceView" autoscroll="false" class="fade-content"></div>
    </div>
</section>

<section class="section-bg-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <goo-box></goo-box>
            </div>
        </div>
    </div>
</section>